* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 0 20px;
    width: 800px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: #fff;
    text-align: center;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 15px;
}
.card h2 {
    margin-bottom: 50px;
    font-size: 32px;
}

.card-body {
    padding: 50px 20px;
}
#score {
    font-size: 50px;
}

#buttons > div,
#buttons a {
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
}
#buttons a {
    display: block;
    text-decoration: none;
}
#buttons > div:hover,
#buttons a:hover {
    box-shadow: rgba(255, 255, 255, 0.3) 0px 0px 15px;
}
@media (max-width: 576px) {
    #buttons > div,
    #buttons a {
        width: 100%;
    }
}

.card-footer {
    padding: 15px 0;
}